<footer>
      <div class="container">
        <div class="top-footer">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="box-content"> <i class="ion-android-microphone"></i>
                <h5>CUSTOMER SUPPORT</h5>
                <p>Monday-Friday : 08:00 - 18:00<br><br></p>
              </div>
              <!-- end box-content --> 
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-6">
              <div class="box-content"> <i class="ion-navigate"></i>
                <h5>MANASSAS</h5>
                <p> Virginia,<br> United States</p>
              </div>
              <!-- end box-content --> 
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-12">
              <div class="box-content"> <i class="ion-ios-telephone"></i>
                <h5>QUICK CONTACT</h5>
                <p>+571 288 3130 <br>
                  <a href="#">roberto@lomar-gcg.com</a> </p>
              </div>
              <!-- end box-content --> 
            </div>
            <!-- end col-4 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end top-footer -->
        <div class="row">
          <!--  
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="about-text">
              <h4 class="title">CONSTRUCTOR</h4>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a</p>
            </div>
          -->
            <!-- end about-text --> 
          </div>
          <!-- end col-3 -->
          <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="title">PHOTO GALLERY</h4>
            <ul class="gallery-thumbs">
            {% block gallery %}
                {{ include('gallery.html.twig')}}
            {% endblock %}
            </ul>
          </div>
          <!-- end col-3 -->
          <!--
          <div class="col-md-6 col-sm-12 col-xs-12">
            <h4 class="title">PROMO VIDEO</h4>
            <div class="video">
              <figure><img src="{{ asset('public/images/banner1.jpg') }}" alt="Image">
                <div class="table">
                  <div class="inner"> <i class="ion-play"></i>
                    <h4><a href="http://www.youtube.com/embed/BpPR4Xww?autoplay=1" class="fancybox fancybox.iframe">WATCH VIDEO</a></h4>
                  </div>
                  <!-- end inner --> 
                </div>
                <!-- end table --> 
              </figure>
            </div>
            <!-- end video --> 
          </div>
          <!-- end col-6 --> 
        </div>
        <!-- end row -->
        <div class="sub-footer">
          <div class="row">
              <div class="col-xs-12"> <span class="copyright">Copyright © 2016, LoMar | General Contracting Group</span> <span class="creation">Created by vkings-go.com in El Salvador</span> </div>
            <!-- end col-12 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end sub-footer --> 
      </div>
      <!-- end container --> 
    </footer>
    <!-- end footer --> 