<header>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-3">
          <h5 class="hidden-xs">CUSTOMER SERVICE : <b>+571 288 3130 MANASSAS</b></h5>
        </div>
        <!-- end col-6 -->
        <div class="col-md-2 col-sm-2 hidden-xs">
          <ul class="social-media">
            <li><a href="https://goo.gl/J3xJqt"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://goo.gl/l1fSvq"><i class="ion-social-googleplus"></i></a></li>
          </ul>
        </div>
        <!-- end col-6 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end top-bar -->
  <nav class="navbar navbar-default" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home"><img src="{{ asset('public/images/logonav.png') }}" alt="Image"></a> </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="mobile-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/home" class="transition">HOME</a></li>
          <li class="dropdown"> <a href="/service/de">SERVICES</a>
            <ul class="dropdown-menu" role="menu">
                {% block service %}
                    {{ include('service.html.twig')}}
                {% endblock %} 
            </ul>
          </li>
          <li><a href="/gallery" class="transition">GALLERY</a></li>
          <li><a href="/about" class="transition">ABOUT US</a></li>
          <!--
          <li><a href="/quote" class="transition">GET QUOTE</a></li>
          -->
          <li><a href="/contact" class="transition">CONTACT US</a></li>
        </ul>
        <!-- end navbar-nav --> 
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container--> 
  </nav>
  <!--- end nav --> 
</header>