<div class="loading">
  <div class="table">
    <div class="inner"> <img src="{{ asset('public/images/logo.png') }}" alt="LoMar | General Contracting Group" class="logo"> </div> {# LOADING #}
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</div>
<!-- end loading -->