<!-- Modal -->
    <div class="modal fade" id="register-box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Register now </h4>
          </div>
          <!-- end modal-header -->
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Your e-mail</label>
                <input type="text" placeholder="E-mail">
              </div>
              <!-- end form-group -->
              <div class="form-group">
                <label>Your password</label>
                <input type="password" placeholder="Pasword">
              </div>
              <!-- end form-group -->
              <div class="form-group">
                <label>Your password - Again</label>
                <input type="password" placeholder="Pasword">
              </div>
              <!-- end form-group -->
              <div class="form-group">
                <label>Your city</label>
                <select>
                  <option>Select yours</option>
                </select>
              </div>
              <!-- end form-group -->
              <div class="form-group">
                <button type="submit">REGISTER</button>
              </div>
              <!-- end form-group -->
            </form>
          </div>
          <!-- end modal-body --> 
        </div>
        <!-- end modal-content --> 
      </div>
      <!-- end modal-dialog --> 
    </div>
    <!-- end modal -->
    <div class="modal fade" id="login-box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Member Login</h4>
          </div>
          <!-- end modal-header -->
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Your e-mail</label>
                <input type="text" placeholder="E-mail">
              </div>
              <!-- end form-group -->
              <div class="form-group">
                <label>Your password</label>
                <input type="password" placeholder="Pasword">
              </div>
              <!-- end form-group -->
              <div class="form-group"> <a href="#">I forget my password</a> </div>
              <!-- end form-group -->
              <div class="form-group">
                <button type="submit">LOGIN</button>
              </div>
              <!-- end form-group -->
            </form>
          </div>
          <!-- end modal-body --> 
        </div>
        <!-- end modal-content --> 
      </div>
      <!-- end modal-dialog --> 
    </div>
<!-- end modal --> 

<a href="#0" class="cd-top"></a> 