<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-12">
        <div class="titles">
          <h6>SIGN UP FOR OUR </h6>
          <h2>NEWSLETTER</h2>
        </div>
        <!-- end title -->
        <form>
          <div class="form-group">
            <input type="text" placeholder="Your e-mail">
            <button type="submit">SUBSCRIBE</button>
          </div>
          <small>I promise, we won’t spam you!</small>
        </form>
      </div>
      <!-- end col-8 -->
      <!--
      <div class="col-md-4 col-sm-5 hidden-xs"> <img src="{{ asset('public/images/newsletter-image.png') }}" alt="Image" class="image"> </div>
      -->
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end newsletter -->