{% extends "base.html.twig" %}

{% block title %}LoMar | We'll be back soon{% endblock %}

{% block body %}
    
    {% block loading %}
        {{ include('loading.html.twig')}}
    {% endblock %} 

    <div class="transition-overlay"></div>
    <section class="slider">
      <div class="error-pages">
        <div class="table">
          <div class="inner"> <a href="#"><img src="{{ asset('public/images/logo.png') }}" alt="LoMar | General Contracting Group" class="site-logo"></a>
            <h3 style="font-size:90px;">We'll be back soon</h3>
            <h6>We are coming wiht our new website</h6>
            <style>
            #countdown{ width:100%; float:left; margin-top:60px;}
            .error-pages .circle{ width:90px; height:90px; display:inline-block; text-align:center; margin:0 10px; border-radius:90px; background:#f3c217; color:#fff;}
                    .error-pages .circle b{ width:100%; float:left; margin-top:10px; font-size:30px;}
                    .error-pages .circle span{ width:100%;}
            </style>

            <div id="countdown">
                <div class="circle">
                <b class="days">00</b>
                <span>days</span>
                </div>
                <!-- end circle -->
                <div class="circle">
                <b class="hours">00</b>
                <span>hours</span>
                        </div>
                <!-- end cirlce -->
                <div class="circle">
                <b class="minutes">00</b>
                <span>minutes</span>
                        </div>
                <!-- end cirlce -->
                <div class="circle">
                <b class="seconds">00</b>
                <span>seconds</span>
                        </div>
                <!-- end cirlce -->
            </div>

            </div>
          <!-- end inner --> 
        </div>
        <!-- end table --> 
      </div>
      <!-- end error-pages --> 
    </section>
    <!-- end slider -->
    
    {% block footer %}
            {{ include('footer.html.twig')}}
    {% endblock %}        
    
    {% block modal %}
            {{ include('modal.html.twig')}}
    {% endblock %}        
    
{% endblock %}
